//- Inherit the standard page layout
extends layouts/page

append head_meta
  title #{site_name} | #{page.title}

append head_js
  +js('http://codeorigin.jquery.com/jquery-1.10.2.min.js')
  +js('_orion/js/offCanvas.jquery.js')
  +js('js/stickyHeader.jquery.min.js')

append head_css
  +css('http://fonts.googleapis.com/css?family=Varela+Round|Metrophobic')
  +css('css/default')

append layout_links
  include includes/layout_links

append header
  a(href="#").logo.symbol
    img(src="images/logo.png")

  nav#utility.inline.divided
    +links(3)

  a(href="#", oc='trigger', oc-dir='left')
    h2 Menu
  nav#main-nav
    ul
      li.logo
        div &nbsp;
          a(href="#")
            img(src="images/instep.png")
      li.first
        a(href="#") Home
      li.active-trail
        a(href="#").active About Us
        +links
      li
        a(href="#") The Insole
        +links
      li
        a(href="#") Community
        +links(5, 'This is what happens with a Really long title aaaahhhhhhhh')
      li
        a(href="#") Contact


append main
  .col.one
    +p(5,5)
  .col.two

append footer
