//- Inherit the standard page layout
extends layouts/page

append head_meta
  title #{site_name} | #{page.title}

append head_js
  +js('http://codeorigin.jquery.com/jquery-1.10.2.min.js')
  +js('_orion/foundation/js/vendor/fastclick.js')
  +js('_orion/foundation/js/foundation.min.js')
  script
    $(document).foundation();

append head_css
  +css('http://fonts.googleapis.com/css?family=Varela+Round|Metrophobic')
  +css('css/default')

append layout_links
  include includes/layout_links

append header
  a(href="#", id="logo")
    img(src="images/logo.png")

  nav#utility.inline.divided
    +links(3)

  a(href="#").right-off-canvas-toggle
    h2 Menu
  nav#main-nav.right-off-canvas-menu
    ul
      li.placeholder
        span.color &nbsp;
        div.placebo &nbsp;
      li.first
        span.color &nbsp;
        a(href="#") Home
      li.active-trail
        span.color &nbsp;
        a(href="#").active About Us
        +links
      li
        span.color &nbsp;
        a(href="#") The Insole
        +links
      li
        span.color &nbsp;
        a(href="#") Community
        +links
      li
        span.color &nbsp;
        a(href="#") Contact


append main
  .col.one
  .col.two

append footer
