// Colors
$blue:   #0082C8;
$orange: #FFC423;
$green:  #D5E14D;
$grey:   #DDDDDD;

$proto-color: #000033;

// Fonts
$heading: Metrophobic, sans-serif;
$paragraph: "Varela Round", serif;

// Dimensions
$full-nav: 875px;

// Off-Canvas Menus
$include-html-off-canvas-classes: false;
$off-canvas-bg: $blue;

// Breakpoints
$collapse-nav: "max-width: #{$full-nav}";
$expand-nav: "min-width: #{$full-nav}";
