@include font-face(Chalet, '/instep/fonts/Chalet/chaletcomprime-colognesixty');

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $paragraph;
}

div#page {
  @include linear-gradient(left, $grey 3%, white 3%, white 3.5%, $grey 3.5%, $grey 9%, white 9%, white 9.5%, $grey 9.5%, $grey 12.5%, white 12.5%, white 100%);
  padding-bottom: 2em;
}

#main {
  @include x-rem(margin-left, 2);

  .col {
    display: inline-block;
    vertical-align: top;
    width: 50%;

    &.one {
      margin-right: -5px;
      //margin-right: calc(1em - 5px);
    }

    &.two {
      //margin-left: 1em;
    }
  }
}

@include headers {
  font-family: $heading;
  color: $blue;
  margin-bottom: .5em;
}

@include header-scale(70);

#main {
  //max-width: 52em;
  @include x-rem(margin-right, 2);
}
