@include font-face(Chalet, '/instep/fonts/Chalet/chaletcomprime-colognesixty');

html, body, [oc='inner-wrapper'], [oc='outer-wrapper'] {
  height: 100%;
}

body {
  font-family: $paragraph;
}

div#page {
  //@include linear-gradient(left, $grey 3%, white 3%, white 3.5%, $grey 3.5%, $grey 9%, white 9%, white 9.5%, $grey 9.5%, $grey 12.5%, white 12.5%, white 100%);
  //padding-bottom: 2em;
}

#main {
  .wrapper {
    @media ($expand-nav) {
      @include o-rem(padding, 0 2);
    }
    @media ($collapse-nav) {
      @include o-rem(padding, 0 1);
    }
  }

  .col {
    display: inline-block;
    vertical-align: top;
    max-width: 52em;

    &.one {
      margin-right: -5px;
    }
  }
}

@include headers {
  font-family: $heading;
  color: $blue;
  margin-bottom: .5em;
}

@include header-scale(70);

// Hidden flag for JS to detect breakpoints
div[flag='mobile'] {
  display: none;
  width: 0;

  @media ($collapse-nav) {
    width: 1px;
  }
}
