header#site-header {
  @include linear-gradient(top, $blue 62%, transparent 62%);
  @include o-rem(margin-bottom, 2);
  @include clearfix;
  position: relative;
  background-color: transparent;

  a.logo {
    display: block;
    width: 18vw;
    min-width: 75px;
    float: left;
    position: relative;
    z-index: 5;

    img {
      width: 100%;
      min-width: 100px;
    }
  }
}

// Off-Canvas
@media ($collapse-nav) {
  body.sticky {
    header#site-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 99;
    }

    [oc='outer-wrapper'].move-left {
      #main {
        position: fixed;
        height: 100vh;
        overflow-y: scroll;

        .wrapper {
          padding-top: 4rem;
        }
      }
    }
  }
}

// Large Screen
@media ($expand-nav) {
  body.sticky {
    header#site-header nav#main-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      li.logo {
        a {
          @include transform(translateX(0));
        }
      }
    }
  }
}
