header#site-header {
  nav#utility {
    @include o-rem(margin, .5 1 0 0);
    text-align: right;

    ul {
      @extend %inline-menu;
    }

    a {
      color: white;
      text-decoration: none;
      padding: 0 1em;
    }
  }
}
